<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Lobster&family=Mountains+of+Christmas&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div>@RenderBody()</div>
    </div>
  </body>
</html>