
@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)
  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all Stylist", "Index")</p>