@{ 
  Layout = "_Layout"; 
}

<h1>Welcome to Eau Claire's Salon!</h1>
<div class="heading"><h3>@Html.ActionLink("VIEW ALL CLIENTS", "Index", "Clients")</h3></div>
<div class="heading"><h3>@Html.ActionLink("VIEW ALL STYLISTS", "Index", "Stylists")</h3></div>